%section.gallery
  .gallery__container.container
    .section-label.to-left
      %span Gallery
    .gallery__content
      %h1.gallery__title.section-title Gallery
      .gallery__grid
        - 35.times do |ix|
          - ix += 1
          %a.gallery__item.lg{"data-fancybox" => "gallery", href: image_path("gallery/gallery_#{ix}.webp") }
            %picture
              %source{ srcset: image_path("gallery/gallery_#{ix}.webp"), type: "image/webp" }
                %img.image{src: image_path("gallery/gallery_#{ix}.webp") }
