%section.reviews
  .reviews__container.container
    %h1.reviews__title.section-title What our customers say?
    .reviews__content
      .section-label.to-left
        %span REVIEWS
      .reviews-slider.swiper
        .swiper-wrapper
          - @reviews = Review.all
          - @reviews.each do |review|
            .reviews__slide.swiper-slide
              .reviews__block.block-reviews
                .block-reviews__image
                  = image_tag "reviews/image-#{rand(1..6)}.jpg", alt: '', height: '576', width: '536'
                .block-reviews__content
                  %span= review.name
                  .block-reviews__desc
                    = review.content

        .swiper-button-prev
        .swiper-button-next
